<div class="display-container"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">


<div></div>
 <!--    
   <div class="product-preview-container" th:each="prodInfo : ${Products.list}">
         <ul>
             <li> <a th:href="@{|/buyProduct?code=${prodInfo.code}|}"><img class="product-image"
               th:src="@{|/productImage?code=${prodInfo.code}|}" /></a>
               
             </li> 
               
        </ul>
   </div>
 --> 
</div>
